html{
    scroll-behavior: smooth;
}

body{
    background-color: #F2F2F2;
}

.header-homepage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #262626;
    color: #BAFF29; /*DC851F*/
    /*border-bottom: solid 2px #BAFF29;*/
}

.h2-homepage{
    margin-left: 5vw;
}

.span-homepage{
    margin-right: 5vw;
    border: solid 1px #BAFF29;
    padding: 7px 7px;
}

.span-homepage a{
    text-decoration: none;
    color: #BAFF29;
    font-size: 1.4em;
}

.div-slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90vh;
}

.div-slogan-texto{
    position: absolute;
    color: white;
    width: 90%;
    margin-top: 12%;
    align-content: center;
    font-size: 3em;
}

.div-slogan-texto p{
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn-div-projetos{
    width: 90%;
    display: flex;
    justify-content: center;
}

.btn-slogan-projetos{
    display: none;
    position: absolute;
    margin-top: 25%;
    /*padding: 1.3%;*/
    width: 25%;
    height: 10%;
    border-radius: 50px;
    font-size: 20px;
    background-color: #BAFF29;
    color: #262626;
    font-weight: bold;
    border: none;
    transform: scale(0.7);
    transition: transform 2s;
}

.btn-slogan-projetos a{
    text-decoration: none;
    color: inherit;
}

.div-slogan-texto h1, p{
    margin: 0;
    width: 100%;
    text-align: center;
}

.img-slogan{
    width: 100%;
    height: 100%;
}

.main-div-atributos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center;
    height: 100vh;
    margin-bottom: 10%;
}

.main-div-atributos h1{
    color: #262626;
    border-bottom: solid 2px #BAFF29;
    font-size: 5rem;
    width: 90%;
    text-align: center;
}

.div-backforund-atributos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 60%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div-atributo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.div-atributo h3, p{
    margin: 0;
}

.div-atributo i{
    margin-bottom: 10%;
}

.div-atributo:hover{
    cursor: pointer;
    background-color: #BAFF29;
    color: #262626;
    border: solid 1px #262626;
}

.div-atributo-mod{
    
}

.footer-homepage{
    width: 100%;
    background-color: #262626;
    color: #BAFF29;
    text-align: center;
    height: 10vh;
    padding-top: 2%;
}

.footer-homepage p{
    font-size: 2em;
}

.btn-down{
    display: none;
    position: absolute;
    margin-top: 40%;
}

.btn-down a{
    color: #BAFF29;
}

.p-type-write{
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-underscore{
    font-weight: bold;
    animation: underscoreAnimation;
    animation-duration: 0.9s;
    animation-iteration-count: infinite; 
}

@keyframes underscoreAnimation{
    0%{ opacity: 0; }
    100%{opacity: 1;}
}