.mainContent-homepage{
    width: 100%;
    height: 90vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent-homepage img{
    width: 100%;
    height: 100%;
    position: relative;
}

.text-mainContent{
    position: absolute;
    font-size: 50px;
    color: #F9FBF2;
    /* color: #31E981; */
}

@media(max-width: 480px){
    .text-mainContent{
        font-size: 25px;
    }
}