.mainDivMyBoard{
    width: 98vw;
    height: 93vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1%;
    margin: 1%;
    margin-right: 1%;
}

.divCardProjectRecuit{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px;
    border-radius: 5px;
}

.divtest{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}