.divHomeBtn{
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #F1F5F2;
    margin-right: 85%;
    margin-bottom: 35%;
    box-shadow: 1px 1px 10px #11151C;
    z-index: 10;
}

.divHomeBtn i{
    transform: scale(2.2);
    margin-top: 38%;
}

.divHomeBtn:hover{
    cursor: pointer;
    background-color: #E0E5E2;
}