.mainDivCreateProject{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.mainPage{
    width: 60%;
    height: 100%;
    margin-left: 3%;
    box-shadow: 1px 1px 10px;
    /* background-color: red; */
}

.inputTitulo{
    width: 50%;
    height: 10vh;
    margin-top: 2%;
    border: none;
    background-color: #F9FBF2;
    font-size: 200%;
    text-align: center;
}

.mainPage p{
    width: 50%;
    margin-left: 25%;
    text-align: start;
    color: #707271;
    /* background-color: red; */
}

.inputParagraph{
    width: 80%;
    height: 20vh;
    margin-top: 2%;
    border: none;
    background-color: #F9FBF2;
    font-size: 20px;
    text-align: start;
    box-sizing: border-box;
    line-height: 1.5;
}

.divListRequire{
    padding-top: 2%;
    width: 30%;
    height: 100%;
    overflow: auto;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    /* justify-content: space-around; */
    /* background-color: blue; */
}

.divListRequire h1{
    margin-bottom: 3%;
}

.divCarP, .divCarCreate{
    width: 90%;
    height: 20vh;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 1px 1px 10px;
}

.divCarP h3{
    border-bottom: 1px solid #707271;
}

.divCarP button, .formCreate button{
    width: 40%;
    margin-left: 60%;
    border-radius: 10px;
    border: none;
    padding: 1%;
    box-shadow: 1px 1px 5px;
    background-color: #F9FBF2;
}

.divCarP button:hover, .formCreate button:hover{
    cursor: pointer;
}

#iconsParticipate{
    display: flex;
    justify-content: space-around;
    /* overflow: scroll; */
}

.divCarCreate{
    justify-content: center;
    align-items: center;
}

#btnPlus{
    border-radius: 50%;
    padding: 5%;
    border: none;
    background-color: #F9FBF2;
    box-shadow: 1px 1px 5px;
}

#btnPlus:hover{
    cursor: pointer;
    /* background-color: #707271; */
}

.formCreate{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formCreate input{
    height: 20%;
    /* border:none; */
}
