.headerNavBar{
    width: 100%;
    height: 10vh;
    background-color: #11151C;
    color: #31E981;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #31E981 solid 3px;
}

.headerNavBar h1{
    margin-left: 2%;
}

.main-navbar{
    width: 20%;
    margin-right: 2%;
}

.main-navbar ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main-navbar li{
    list-style-type: none;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 2%;
}

.main-navbar li:hover{
    background-color: #31E981;
    color: #11151C;
    font-weight: bold;
    cursor: pointer;
}