html{
    scroll-behavior: smooth;
}

body{
    background-color: #F2F2F2;
}

.header-homepage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #262626;
    color: #BAFF29; /*DC851F*/
    /*border-bottom: solid 2px #BAFF29;*/
}

.h2-homepage{
    margin-left: 5vw;
}

.span-homepage{
    margin-right: 5vw;
    border: solid 1px #BAFF29;
    padding: 7px 7px;
}

.span-homepage a{
    text-decoration: none;
    color: #BAFF29;
    font-size: 1.4em;
}

/*========================================================*/

.div-background-filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #262626;
    border-bottom: solid 1px #BAFF29;
    height: 10vh;
}

.div-filter-opc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-right: solid 1px #BAFF29;
    color: #F2F2F2;
    font-weight: bolder;
}

.div-container-projetos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    height: 120vh;
    margin-bottom: 10%;
}

.ideia-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 5%;
    border-radius: 100px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-idea{
    width: 80%;
    color: #262626;
}

.like-btn{
    color: #3C4F76;
}

.deslike-btn{
    color: #BC3908;
    margin-top: 1%;
}

.like-btn:hover, .deslike-btn:hover{
    cursor: pointer;
    transform: scale(1.2);
}


.footer-homepage{
    width: 100%;
    background-color: #262626;
    color: #BAFF29;
    text-align: center;
    height: 10vh;
    padding-top: 2%;
}

.footer-homepage p{
    font-size: 2em;
}