.divMainProjetcs{
    width: 100vw;
    height: 100vh;
}

.headerProjects{
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    color: #31E981;
    background-color: #11151C;
}

.headerProjects h1{
    /* margin-left: 2%; */
    width: 10%;
}

.headerProjects h1:hover{
    cursor: pointer;
}

.headerProjects p{
    width: 10%;
    margin-left: auto;
    /* margin-right: 2%; */
}

.divSearch{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 20%;
    width: 40%;
    height: 60%;
    background-color: #F1F5F2;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 20px;
}

.divSearch input{
    width: 90%;
    height: 100%;
    border: none;
    background-color: #F1F5F2;
    outline: none;
}

.divSearch:focus{
    outline: #31E981;
    border: 1px solid #31E981;
}

.divSearch i{
    margin-left: 3%;
}

/* ================================= */
.mainProjetcs{
    width: 100vw;
    height: 93vh;
    padding-top: 1px;
    /* background-color: red; */
}

.displayProjects{
    height: 95%;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    /* background-color: blue; */
}

/* .displayProjects div{
    border: 1px solid black;
    height: 20%;
    margin-bottom: 2%;
} */

.projectSort{
    height: 10%;
    margin-bottom: 2%;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 3px 3px 10px;
    transition: height 1s;
}

.projectSort:hover{
    cursor: pointer;
    border: 1px solid #11151C;
}

.projectSortTitle{
    width: 100%;
    height: 100%;
    padding-left: 4%;
    display: flex;
    align-items: center;
}

.projectSortDescription{
    margin-top: 5%;
    display: none;
    height: 90%;
}

.projectSortDescription p{
    height: 100%;
    margin: 2%;
    text-align: start;
}

#projcDesc{
    display: none;
    margin-top: 5%;
}

.divFeedback{
    margin-left: auto;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}

.iconLike{
    color: #124E78;
}

.iconDeslike{
    color: #BD1E1E;
    /* margin-top: 17%; */
}

.iconLike, .iconDeslike{
    transform: scale(1.4);
}

.iconLike:hover, .iconDeslike:hover{
    transform: scale(1.5);
}